* {
    font-family:Tahoma, Arial, sans-serif;
    font-size:1em;
}
body {
    background:#fff;
    margin:.906em;
    font-size:69%;
}
table {
    margin:0 auto;
    width:100%;
    border-spacing:.3em;
}
table tr th {
    color:#fff;
    font-weight:normal;
    border-style:solid;
    border-width:.09em;
    border-color:#ccc #666 #666 #ccc;
    text-align:left;
    padding:.09em .543em;
    background:#999;
    vertical-align:bottom;
}
table td {
    padding:0;
}
td .meter {
    float:none;
    margin-top:0;
    width:99%;
}
.meter {
    position:relative;
    float:right;
    margin-top:.09em;
    width:14.49em;
    height:1.268em;
    background:#aaa;
    border-style:solid;
    border-width:.09em;
    border-color:#777 #ccc #ccc #777;
}
.meter .bar { height:1.268em; }
.meter .admins { background-color:#C7496F; float:left; }
.meter .clients { background-color:#496FC7; float:left; }
.meter .players { background-color:#6FC749; float:left; }
.meter .text {
    color:#fff;
    position:absolute;
    top:0;
    width:100%;
    height:1.268em;
    text-align:center;
    line-height:1.181em;
}